{% extends 'base.html' %}

{% block content %}
<section class="slogan--item">
<ul>
    <h1>
    <li><p>Imię: {{ user.first_name }}</p></li>
    <li><p>Nazwisko: {{ user.last_name }}</p></li>
    <li><p>E-mail: {{ user.email }}</p></li>
    </h1>
</ul>

    <h1>Twoje Dary:</h1>

<h1>
    <table>
        <tr>
            <th>Fundacja:</th>
            <th>Ilość worków:</th>
            <th>Data przekazania:</th>
            <th>Stan daru:</th>
        </tr>

{% for donation in donations %}
    <tr>
            <td>{{ donation.institution }}</td>
            <td>{{ donation.quantity }}</td>
            <td>{{ donation.pick_up_date }}</td>
            <td>{% if donation.is_archived == False %}
                <button class="btn btn--without-border" type="submit" value="{{ donation.id }}">Oznacz jako odebrany</button>
            {% else %}
                <h2>Odebrany prze fundację</h2>
            {% endif %}</td>
    </tr>
    {% endfor %}</table></h1>

</section>
{% endblock %}